<nav class="bg-black">
    <div class="container mx-auto px-4 py-4 flex justify-between">

        <p href="#" class="text-gray-100 px-4 py-2 rounded-xl text-sm px-4">
            &copy; 2022 Ape Tavern. We are not affiliated with Valve or Facepunch.
        </p>

        {{> socials }}
    </div>
</nav>