<footer class="bg-black">
    <div class="container mx-auto px-4 py-4 flex justify-between">

        <p class="text-gray-100 py-2 rounded-xl text-sm px-4">
            &copy; 2023 Ape Tavern. We are not affiliated with Valve or Facepunch.
        </p>

        <!-- Socials - hidden on mobile -->
        <span class="hidden sm:flex">
            {{> socials }}
        </span>
    </div>
</footer>