<ul class="list-none flex text-white text-2xl items-center">

    <li class="px-4">
        <a href="https://discord.gg/c9FKBgqAAq" title="Discord">
            <i class="cursor-pointer hover:text-blue-500 transition-all fab fa-discord"></i>
        </a>
    </li>

    <li class="px-4">
        <a href="https://twitter.com/apetavern" title="Twitter">
            <i class="cursor-pointer hover:text-blue-500 transition-all fab fa-twitter"></i>
        </a>
    </li>

    <li class="px-4">
        <a href="https://github.com/apetavern" title="GitHub">
            <i class="cursor-pointer hover:text-blue-500 transition-all fab fa-github"></i>
        </a>
    </li>

    <li class="px-4">
        <a href="https://sbox.facepunch.com/dev/apetavern/" title="s&box">
            <i class="cursor-pointer hover:text-blue-500 transition-all fas fa-box"></i>
        </a>
    </li>

</ul>