<li class="flex m-2 shrink">

    <div class="flex aspect-square">
        <img src="https://via.placeholder.com/64" class="rounded-full aspect-square" alt="">
    </div>

    <div class="flex flex-col justify-center pl-4">

        <div class="flex flex-col">
            <p>{{ name }}</p>
            <p class="text-sm">{{ position }}</p>
        </div>

        <div>
            <a class="uppercase text-xs text-white bg-blue-500 rounded px-2 py-1" href="#"><i
                    class="fab fa-twitter"></i>
                Twitter</a>
            <a class="uppercase text-xs text-white bg-blue-500 rounded px-2 py-1" href="#"><i class="fas fa-link"></i>
                Web</a>
        </div>
    </div>

</li>