<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./styles/style.css" rel="stylesheet">
</head>
<body class="bg-gray-200">
  {{> nav }}
  <div class="container p-8 m-auto">
    <h1 class="text-2xl font-bold pb-4">Ape Tavern</h1>
    {{{body}}}
  </div>
</body>
</html>