<main class="min-h-screen">
    <section class="container m-auto flex flex-col lg:flex-row w-full min-h-screen py-64 
        px-4 xl:px-0 items-center">
{{#if hasContent }}
    {{{blogpost}}}
{{else}}
    404
{{/if}}
    </section>
</main>
