{{> hero }}

<div class="container p-8 m-auto">

    <div class="flex flex-col lg:flex-row lg:h-72 w-full py-16 pt-4">

        <!-- Left -->
        <img src="https://via.placeholder.com/600x150" class="aspect-[4/1] bg-cover grow rounded-md"
            alt="Placeholder" />

        <!-- Right -->
        <div class="lg:w-1/2 lg:ml-4 shrink flex items-start justify-center flex-col">
            <h2 class="font-bold text-2xl py-4">
                We make the best games for <span class="text-blue-500">s&amp;box</span>.
            </h2>
            <p>
                some more text here about how cool we are and how great our games are. we're the best etc. etc.
                Cupidatat consectetur consectetur aute dolore in dolore duis laboris anim.
            </p>
        </div>

    </div>

    <div class="flex flex-col-reverse lg:flex-row lg:h-72 w-full py-16 pt-4">

        <!-- Left -->
        <div class="lg:w-1/2 lg:ml-4 shrink flex items-start justify-center flex-col">
            <h2 class="font-bold text-2xl py-4">
                Meet the <span class="text-blue-500">team</span>.
            </h2>
            <p>
                Est fugiat mollit Lorem duis duis. Culpa adipisicing enim enim ad. Mollit labore cupidatat dolore Lorem
                tempor aute laborum eiusmod ea adipisicing anim officia eiusmod ex.
            </p>
        </div>

        <!-- Right -->
        <img src="https://via.placeholder.com/600x150" class="aspect-[4/1] bg-cover grow rounded-md"
            alt="Placeholder" />

    </div>

    <div class="min-h-[50vh] py-16">

        <h2 class="font-bold py-4 uppercase text-center">What we've made</h2>

        <div class="flex justify-between items-center -mx-2 flex-wrap sm:flex-nowrap">
            {{#> game
            gameName="Frost Fight"
            gameThumb="https://files.facepunch.com/sbox/org/apetavern/frostfight/thumb.d6d867.jpg"
            }}
            Frost fight is an asymmetric freeze tag created for JamBox Winter 2021. You can play this game on s&box.
            {{/game}}

            {{#> game
            gameName="Grubs"
            gameThumb="https://via.placeholder.com/400x400"
            }}
            Grubs is a worms-inspired artillery game for s&box with randomly generated levels.
            {{/game}}
        </div>

    </div>

    <div class="min-h-[50vh] py-16">

        <h2 class="font-bold py-4 uppercase text-center">Apply or something</h2>

        <p class="text-center">Feel like getting involved? All of our projects are
            <a class="text-gray-500" href="https://github.com/ApeTavern">open source</a>,
            and we accept both issues and pull requests.
        </p>

    </div>
</div>