{{> hero }}

<main class="min-h-screen">
    <section class="container m-auto flex flex-col lg:flex-row w-full min-h-screen py-64 
        px-4 xl:px-0 items-center">

        <!-- Left -->
        <img src="/images/banner-1.jpg" class="lg:w-1/2 aspect-video object-cover grow rounded-md" alt="Placeholder" />

        <!-- Right -->
        <div class="lg:w-1/2 lg:ml-4 shrink flex items-start justify-center flex-col pl-4">
            <h2 class="font-bold font-subtitle text-2xl py-4">
                We make the best games for <span class="text-blue-500">s&amp;box</span>.
            </h2>
            <p>
                We are a small team of developers who follow our passions. We create fun games, and have fun while
                making them.
            </p>
        </div>

    </section>

    <section class="lg:h-screen relative overflow-hidden py-16">

        <video class="absolute opacity-25 min-w-full min-h-full top-0 left-0 -z-10 object-cover object-center
            bg-cover" muted="" loop="" autoplay="" src="/videos/crates.mp4"></video>

        <div class="container m-auto h-full flex flex-col items-center justify-center
            px-4 xl:px-0">

            <h2 class="font-bold font-subtitle text-2xl text-center py-8">Check out some of our <span
                    class="text-blue-500">games</span>.
            </h2>

            <div
                class="flex justify-between items-center w-full space-y-4 flex-wrap xl:space-y-0 xl:space-x-4 xl:flex-nowrap">
                {{#> game
                gameName="Frost Fight"
                gameThumb="https://files.facepunch.com/sbox/org/apetavern/frostfight/thumb.d6d867.jpg"
                releaseDate="Released 23rd December 2021"
                github="https://github.com/apetavern/sbox-frostfight"
                sbox="https://asset.party/apetavern/frostfight/"
                }}
                Frost Fight is an asymmetric freeze tag made during a game jam.
                {{/game}}

                {{#> game
                gameName="Grubs"
                gameThumb="https://files.facepunch.com/sbox/asset/apetavern.grubs/logo.161b559.png"
                releaseDate="Coming soon"
                github="https://github.com/apetavern/sbox-grubs"
                }}
                Grubs is our take on a Worms-like in s&box.
                {{/game}}

                {{#> game
                gameName="FortWars"
                gameThumb="/images/games/fortwars.png"
                releaseDate="Backburner"
                github="https://github.com/apetavern/sbox-fortwars"
                }}
                FortWars is a recreation of the original Half Life 2: DM mod SourceForts, with a new spin for s&box.
                {{/game}}
            </div>

        </div>

    </section>

    <section class="container m-auto flex items-center justify-around w-full min-h-screen 
        px-4 xl:px-0 flex-wrap lg:flex-nowrap">

        <div class="flex flex-col items-center w-full lg:w-1/3">

            <h2 class="font-subtitle py-4 uppercase text-center">Over-engineered websites</h2>

            <h3 class="font-title text-6xl sm:text-8xl py-2">1</h3>
            <p class="font-subtitle text-xl font-bold py-2">website</p>

        </div>

        <div class="flex flex-col items-center w-full lg:w-1/3">

            <h2 class="font-subtitle py-4 uppercase text-center">Games finished</h2>

            <h3 class="font-title text-6xl sm:text-8xl py-2">1</h3>
            <p class="font-subtitle text-xl font-bold py-2">game</p>

        </div>

        <div class="flex flex-col items-center w-full lg:w-1/3">

            <h2 class="font-subtitle py-4 uppercase text-center">Days waiting for Leaf's terrain
            </h2>

            <h3 class="font-title text-6xl sm:text-8xl py-2" id="leaf-counter">69</h3>
            <p class="font-subtitle text-xl font-bold py-2">days</p>

            <script>
                let target = new Date(2021, 10, 21);
                let now = new Date();

                var days = Math.round((now - target) / (1000 * 60 * 60 * 24));

                var element = document.querySelector("#leaf-counter");
                element.innerText = days;
            </script>

        </div>

    </section>
</main>