{{> hero }}

<div class="container p-8 m-auto min-h-screen">

    <div class="flex flex-col lg:flex-row lg:h-72 w-full my-32">

        <!-- Left -->
        <img src="/images/banner-1.png" class="lg:w-1/2 aspect-[4/1] object-cover grow rounded-md" alt="Placeholder" />

        <!-- Right -->
        <div class="lg:w-1/2 lg:ml-4 shrink flex items-start justify-center flex-col">
            <h2 class="font-bold text-2xl py-4">
                We make the best games for <span class="text-blue-500">s&amp;box</span>.
            </h2>
            <p>
                We've made some of s&amp;box's most loved games, including Frost Fight and Grubs.
            </p>
        </div>

    </div>

    <div class="flex flex-col-reverse lg:flex-row lg:h-72 w-full my-32">

        <!-- Left -->
        <div class="lg:w-1/2 lg:ml-4 shrink flex items-start justify-center flex-col">
            <h2 class="font-bold text-2xl py-4">
                Meet the <span class="text-blue-500">team</span>.
            </h2>
            <p>
                We're a small team of passionate developers who love making games. We love to create and build
                games that are fun to play and fun to make.
            </p>
        </div>

        <!-- Right -->
        <img src="/images/banner-1.png" class="lg:w-1/2 aspect-[4/1] object-cover grow rounded-md" alt="Placeholder" />

    </div>

    <div class="my-32">

        <h2 class="font-bold text-2xl text-center py-4">We've made a range of different <span
                class="text-blue-500">games</span>.
        </h2>

        <div class="flex justify-between items-center space-y-4 flex-wrap xl:space-y-0 xl:space-x-4 xl:flex-nowrap">
            {{#> game
            gameName="Frost Fight"
            gameThumb="https://files.facepunch.com/sbox/org/apetavern/frostfight/thumb.d6d867.jpg"
            releaseDate="Released 23rd December 2021"
            github="https://github.com/apetavern/sbox-frostfight"
            sbox="https://sbox.facepunch.com/dev/apetavern/frostfight/"
            }}
            Frost fight is an asymmetric freeze tag created for JamBox Winter 2021.
            {{/game}}

            {{#> game
            gameName="Grubs (WIP)"
            gameThumb="https://cdn.discordapp.com/attachments/912049625337307139/926968876942643300/62akryoy7dd61.jpg"
            releaseDate="Coming soon"
            github="https://github.com/apetavern/sbox-grubs"
            }}
            Grubs is a worms-inspired artillery game for s&box with randomly generated levels.
            {{/game}}
        </div>

    </div>

    {{> stats }}
</div>