<main class="container p-8 m-auto min-h-screen">

    <section class="min-h-[50vh] my-32">

        <h1 class="font-title text-4xl font-extrabold pb-8">Meet The Apes</h1>

        <ul class="items-center -m-4 flex flex-wrap justify-items-stretch">
            {{> team-member
            name="Trundler"
            position="Programmer"
            twitter="https://twitter.com/trundler_"
            avatar="/images/avatars/trundler.png"
            }}

            {{> team-member
            name="Matt944"
            position="Programmer"
            website="https://www.ninetyfour.dev/"
            avatar="/images/avatars/matt944.png"
            }}

            {{> team-member
            name="Leaf"
            position="Programmer"
            twitter="https://twitter.com/leafdroid"
            website="https://leaf.wtf"
            avatar="/images/avatars/leaf.png"
            }}

            {{> team-member
            name="ShadowBrain"
            position="Programmer & Artist"
            twitter="https://twitter.com/TheShadowBrain"
            website="https://shadowbrain.itch.io/"
            avatar="/images/avatars/shadowbrain.png"
            }}

            {{> team-member
            name="Alex"
            position="Programmer"
            twitter="https://twitter.com/ym2612"
            website="https://gu3.me"
            avatar="/images/avatars/alex.png"
            }}
        </ul>

    </section>

    <section class="my-32 text-center">
        <h2 class="font-subtitle text-2xl font-extrabold">Want to join us?</h2>
        <p class="pt-2">All of our projects are
            <a class="text-gray-500" href="https://github.com/apetavern">open source</a>,
            and we accept both issues and pull requests.
            <br>
        </p>
        <p class="pt-2">Feel like going a step further? We're constantly looking for new talent for our team.</p>
        <p>
        Check out our 
            <a class="text-gray-500" href="https://discord.gg/c9FKBgqAAq">Discord</a>
            to apply.
        </p>
    </section>
</main>