<div class="container p-8 m-auto min-h-screen">

    <div class="min-h-[50vh] py-16">

        <h1 class="font-title text-4xl font-extrabold py-8">Meet The Apes</h1>

        <ul class="items-center -m-2 flex flex-wrap justify-items-stretch">
            {{> team-member name="Trundler" position="Programmer" twitter="https://twitter.com/trundler_" }}
            {{> team-member name="Matt944" position="Programmer" website="https://www.ninetyfour.dev/" }}

            {{> team-member name="Leaf" position="Programmer" twitter="https://twitter.com/leafdroid"
            website="https://leaf.wtf" }}

            {{> team-member name="Alex" position="Programmer" twitter="https://twitter.com/ym2612"
            website="https://gu3.me" }}
        </ul>

    </div>

    <div class="min-h-[50vh] py-16 text-center">
        <h2 class="font-subtitle text-2xl font-extrabold">Want to join us?</h2>
        <p>Feel like getting involved? All of our projects are
            <a class="text-gray-500" href="https://github.com/ApeTavern">open source</a>,
            and we accept both issues and pull requests.
            <br>
            Feel like going a step further? We're constantly looking for new talent for our team.
        </p>
        <a class="text-gray-500" href="#">Apply here</a>.
    </div>
</div>