<main class="container p-8 m-auto min-h-screen">

    <section class="min-h-[50vh] my-32">

        <h1 class="font-title text-4xl pb-8">Meet The Apes</h1>

        <ul class="items-center -m-4 flex flex-wrap justify-items-stretch">
            {{> team-member
            name="Trundler"
            position="Programmer"
            twitter="https://twitter.com/trundler_"
            avatar="/images/avatars/trundler.png"
            }}

            {{> team-member
            name="Matt944"
            position="Programmer"
            twitter="https://twitter.com/Matt944_"
            website="https://www.ninetyfour.dev/"
            avatar="/images/avatars/matt944.png"
            }}

            {{> team-member
            name="ShadowBrain"
            position="Programmer & 3D Artist"
            twitter="https://twitter.com/TheShadowBrain"
            website="https://shadowbrain.itch.io/"
            avatar="/images/avatars/shadowbrain.png"
            }}

            {{> team-member
            name="PUKES"
            position="3D Artist"
            twitter="https://twitter.com/ILikeADaArt"
            avatar="/images/avatars/pukes.png"
            }}

            {{> team-member
            name="Jammie Dodger"
            position="3D Artist"
            twitter="https://twitter.com/JammieDodder"
            website="https://www.artstation.com/jammiedodger"
            avatar="/images/avatars/jammie.png"
            }}

            {{> team-member
            name="Gooman"
            position="Programmer"
            twitter="https://twitter.com/peter_rgg"
            website="https://peter-r-g.github.io/"
            avatar="/images/avatars/gooman.png"
            }}

            {{> team-member
            name="Gio"
            position="Programmer"
            website="https://github.com/lotuspar"
            avatar="/images/avatars/par.png"
            }}

            {{> team-member
            name="Damien"
            position="Programmer & 2D Artist"
            website="https://damien.stamates.io/"
            avatar="/images/avatars/damien.png"
            }}
        </ul>

    </section>

    <section class="my-32 text-center">
        <h2 class="font-subtitle text-2xl font-bold">Want to join us?</h2>
        <p class="pt-2">All of our projects are
            <a class="text-gray-500" href="https://github.com/apetavern">open source</a>,
            and we accept both issues and pull requests.
            <br>
        </p>
        <p class="pt-2">Feel like going a step further? We're constantly looking for new talent for our team.</p>
        <p>
            Check out our
            <a class="text-gray-500" href="https://discord.gg/g4JczwdCcN">Discord</a>
            to apply.
        </p>
    </section>
</main>