@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #0f172a;
}

::-webkit-scrollbar-thumb {
    background-color: #64748b;
}

@layer base {
    @font-face {
        font-family: 'Cabin';
        font-weight: normal;
        src: local('Cabin'), local('cabin'),
            url('/fonts/Cabin/Cabin-Regular.ttf');
        font-display: swap;
    }
    @font-face {
        font-family: 'Cabin';
        font-weight: medium;
        src: local('Cabin'), local('cabin'),
            url('/fonts/Cabin/Cabin-Medium.ttf');
        font-display: swap;
    }
}